#header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #000;
}

#header p{
  font-size: 2em;
  margin: 13px 0 0 50px;
}

#header button {
  font-size: 1.3em;
  float: right;
  margin: 10px;
  cursor: pointer;
  padding: 5px 35px 5px 35px;
  background-color: #98ff98;
}

#sortable {
  margin-top: 120px;
}

#sortable div {
  padding: 10px 12px 10px 50px;
  margin: 10px;
  border: 1px solid #000;
}

#sortable div h2 {
  font-size: 1.2em;
  margin: 0 0 0 0;
  color: #555;
}

#sortable div input {
  width: 100%;
}

#sortable span.remove-item {
  float: right;
  cursor: pointer;
  color: red;
  font-size: 1.2em;
  margin-right: -3px;
}
