body {
  background-color: #f37;
  background: linear-gradient(to right, #f37, #1969FF);
  background-size: cover;
  height: 100%;
  font-family: arial;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  background: #fff;
}

#header h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 10px 0 0 35px;
  letter-spacing: 3px;
}

#header button {
  font-size: 1.3em;
  float: right;
  margin: 10px;
  cursor: pointer;
  padding: 5px 35px 5px 35px;
  background-color: #f37;
  color: #fff;
  font-weight: 700;
  border: 2px solid #000;
}

#sortable {
  margin-top: 120px;
}

#sortable div {
  padding: 10px 22px 10px 50px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 1);
}

#sortable div h2 {
  font-size: 1.2em;
  margin: 0 0 0 0;
  color: rgba(50, 50, 50, 1);
}

#sortable div input {
  width: 100%;
  background: rgba(50, 50, 50, 1);
  color: #fff;
  padding: 5px;
}

#sortable span.remove-item {
  float: right;
  cursor: pointer;
  color: red;
  font-size: 1.2em;
  margin-right: -11px;
}
